@import url(../assets/fonts/font.css);  

body, button {
    font-family: yekanbakhsh;
}
body {
    margin: 5px 0;
}
a {
    text-decoration: unset;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
    align-items: center;
}
header img {
    width: 150px;
    height: 75px;
}
.header__link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}
.header__link a {
    color: black;
}
.header__button img {
    width: 50px;
    height: auto;
}
.header__button button {
    background-color: #fff;
    border: unset;
}
.header__search {
    position: relative;
}
.header__search img {
    position: absolute;
    left: 0;
    bottom: 0.1px;
    width: 40px;
}
header input {
    border: unset;
    border-bottom: 2px solid #852221;
}

/*section1*/
.section__body--banner {
    background-color: #E4D1B3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 10px gray;
}
.section__body--banner img {
    margin-bottom: -50px;
    width: 30%;    
    margin-left: 1%;
    margin-top: 1%;
}
.section__body--text {
    font: 800 50px 'yekanbakhsh';
}
.section__body--quot {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.section__body--button{
    margin-right: 20%;
}
.section__body--button button {
    border-radius: 49.5px;
    border: unset;
    font-size: 20px;
}
.section__body--button button:first-child {
    background-color: #384D26;
    color: #fff;
}
.section__body--button button:last-child {
    background-color: #A91825;
    color: #fff;
}

/*section2*/
.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    background-color: #E4D1B3;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50px 0 0 50px;
    margin-top: 8%;
}
.section2__body--question {
    color: #A91825;
    margin-right: 5%;
    font-size: 30px;
    line-height: 3rem;
}
.section2__body--trust {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.section2__body--eachtrust {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    color: #384D26;
}

/*section3*/
.section3 {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    background-color: #A91825;
    margin-top: 5%;
    border-radius: 50px 0 0 50px;
    align-items: center;
}
.section3__scroll2--each-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2% 0;
}
.section3__scroll2--eachpro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 300px;
}
.section3__scroll2--like button {
    background-color: unset;
    border: unset;
}

.section3__scroll2--proprice button {
    background-color: #384D26;
    border: unset;
    border-radius: 8px;
    height: 30px;
}
.section3__scroll2--like, .section3__scroll2--proprice {
    display: flex;
    flex-direction: row;
}
.section3__scroll2--title h4 {
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.section3__scroll2--title button {
    background-color: #E6E2D9;
    color: #A91825;
    border-radius: 50px;
    border: unset;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.section3__scroll2--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}