@import url(../assets/fonts/font.css);  

body, button {
    font-family: yekanbakhsh;
}
body {
    margin: 5px 0;
}
a {
    text-decoration: unset;
}

:root {
    --red-color: #A91825;
    --white-color: #E6E2D9;
    --cream-color: #E4D1B3;
    --dark-cream-color: #BD7346;
    --brown-color: #673304;
    --green-color: #218838;
    --green-hover-color:#28a745;
}
/* --header section --*/

.header {
    background-color: rgb(230,226,217);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /*  it stays on top of other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    display: inline-block;
}

.header__logo-img {
    width: 60%;
    margin-right:10px ;
}

.header__nav {
    flex-grow: 1;
    margin-right: 40px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.header__nav-link {
    color:var(--red-color);
    text-decoration: none;
    font-size: 16px;
}

.header__icons {
    display: flex;
    gap: 15px;
}

.header__icon img {
    width: 24px;
    height: 24px;
}

.header__account {
    margin-right: 15px;
}

.header__account-button {
    background-color: var(--green-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__account-button:hover {
    background-color:var(--green-hover-color);
}


.banner {
    
    background-image: url('../assets/img/katrin/katrin1.jpg'); /* Replace with your uploaded image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top:0; /* فاصله‌ای به اندازه ارتفاع هدر برای بنر */
    position: relative;
}


.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Dark transparent overlay */
    z-index: 1;
}

.banner__text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    backdrop-filter: blur(3px); /* Blur background behind text */
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background behind text */
    border-radius: 10px;
}
.banner__text p{
    font-size: 20px;
    line-height: 1.5;
    color: grey;


}

.banner__button {
    margin-bottom: 5%;
    padding: 10px 20px;
    background-color:var(--green-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 40%;
    font-size: 20px;
}

.banner__button:hover {
    background-color: var(--green-hover-color);
}


/*section2*/
.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    background-color: #E4D1B3;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50px 0 0 50px;
    margin-top: 8%;
}
.section2__body--question {
    color: #A91825;
    margin-right: 5%;
    font-size: 30px;
    line-height: 3rem;
}
.section2__body--trust {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.section2__body--eachtrust {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    color: #384D26;
}

/*section3*/
.section3 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background-color: #A91825;
    margin-top: 5%;
    border-radius: 50px 0 0 50px;
    align-items: center;
}
.section3__scroll2--each-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2% 0;
}
.section3__scroll2--eachpro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 300px;
}
.section3__scroll2--like button {
    background-color: unset;
    border: unset;
}

.section3__scroll2--proprice button {
    background-color: #384D26;
    border: unset;
    border-radius: 8px;
    height: 30px;
}
.section3__scroll2--like, .section3__scroll2--proprice {
    display: flex;
    flex-direction: row;
}
.section3__scroll2--title h4 {
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.section3__scroll2--title button {
    background-color: #E6E2D9;
    color: #A91825;
    border-radius: 50px;
    border: unset;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.section3__scroll2--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}