/* Reset کلی برای همه عناصر */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekanbakhsh;
}

/* استایل پایه برای بدنه */
body {
    /* direction: rtl; */
    margin-top: 100px;
    background-color: var(--white-color);
}


/* تعریف متغیرهای رنگ‌ها */
:root {
    --red-color: #A91825;
    --white-color: #E6E2D9;
    --cream-color: #E4D1B3;
    --dark-cream-color: #BD7346;
    --brown-color: #673304;
    --green-color: #218838;
    --green-hover-color: #28a745;
    --dark-green-color: #384d26;
}

.slider {
    position: relative;
    max-width:100%;
    margin: auto;
    overflow: hidden;
    margin-top: ;
}

.slides {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

/* انیمیشن برای تغییر خودکار اسلایدها */
@keyframes slideAnimation {
    0% { 
        transform: translateX(0); 
    }
    33.33% { 
        transform: translateX(0); 
    }
    38.33% { 
        transform: translateX(-100%); 
    }
    66.66% { 
        transform: translateX(-100%); 
    }
    71.66% { 
        transform: translateX(-200%); 
    }
    100% { 
        transform: translateX(-200%); 
    }
}

.slides {
    animation: slideAnimation 12s infinite;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

input[type="radio"]:checked + .navigation .nav-dot {
    background-color: #717171;
}




/* Block: search-bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color:var(--cream-color);
  padding: 10px;
  border-radius: 0px;
  margin-top: 8%;
  margin-bottom: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* Element: input */
.search-bar__input {
  /* flex: 1; */
  padding: 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color:var(--white-color);
  outline: none;
  height: 50px;
  width: 90%;
}

/* Element: button */
.search-bar__button {
  padding: 10px 20px;
  background-color:var(--green-color);
  color: white;
  border: none;
  border-radius: 10px  0 0 10px;
  cursor: pointer;
  height: 50px;
  margin-left: 1%;

}
.search-bar__button img{width: 70%;}

/* Element: filter */
.search-bar__filter {
  border: none;
  margin-left: 5px;
  cursor: pointer;
  padding: 10px 20px;
  background-color:var(--white-color);
  color:#218838;
  border-radius: 10px ;
  height: 50px;
}

.search-bar__filter img {
  width: 70%;
}



.products {
    text-align: center;
    padding: 20px;
  }
  .products__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .products__subtitle {
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
  }
  .products__carousel {
    display: flex;
    align-items: center;
  }
  .products__nav {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    /* margin: 0 10px; */
    border-radius: 50%;
  }

  .products__nav:hover{
    background-color: var(--green-hover-color);
  }
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 15px;
    justify-content: center;
    width: 100%;
  }
  /* تنظیمات برای کارت محصول */
  .product__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    animation: fadeIn 1s ease-in-out forwards;

}
  .product__card {
    background-color:var(--cream-color);
    padding: 20px;
    border-radius: 10px;
    width:20%;
    text-align: center;
    position: relative;
    animation: fadeIn 1s ease-in-out forwards;

}

 /* انیمیشن برای کارت محصول در هاور */
 .product__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.product__card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

/* انیمیشن برای زوم کردن تصویر در هاور */
.product__card:hover img {
    transform: scale(1.05);
}

.product__title{
    /* font-size: 1.1rem; */
    margin: 10px 0;
    transition: color 0.3s ease;

}

.product__price{
    font-size: 1rem;
    margin-bottom: 10px;
}

.product__price--discounted {
    color:var(--green-color);
    /* font-weight: bold; */
}

.product__price--original {
    text-decoration: line-through;
    color:var(--red-color);
}

.product__stars {
    float: left;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: transform 0.3s ease;  /* انیمیشن برای ستاره‌ها */

}

.product__stars img {
    width: 20px;
    height: 20px;
}

/* انیمیشن برای آیکون‌های خرید و علاقه‌مندی‌ها */
.product__cart-icon {
    float: right;
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
}

.product__cart-icon  img {
    width: 20px;
    height: 20px;
    border-radius: 0;
    transition: transform 0.3s ease;

}
.product__cart-icon img:hover {
    transform: scale(1.3);
}
