/* 
    ===========
    LOGIN PAGE
    ===========
*/
    .login__title--content h1{
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeIn 1s forwards;
    }
        @keyframes fadeIn{    
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }

    .login__title--content img{
        animation: tea-cup-animation 5s infinite; /* Adjust the animation duration and loop */
    }
        @keyframes tea-cup-animation {
            0% {
            transform: translateX(0);
            }
            50% {
            transform: translateX(-10px);
            }
            100% {
            transform: translateX(0);
            }
        }

    .login__form--btn:hover{
        box-shadow: 0 0 0 4px #fff,
        0 0 0 6px #a91825;
    }

