/*header*/

/*a {
    text-decoration: unset;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
    align-items: center;
}
header img {
    width: 150px;
    height: 75px;
}
.header__link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}
.header__link a {
    color: black;
}
.header__button img {
    width: 50px;
    height: auto;
}
.header__button button {
    background-color: #fff;
    border: unset;
}
.header__search {
    position: relative;
}
.header__search img {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 40px;
}
header input {
    border: unset;
    outline: unset;
    border-bottom: 2px solid #852221;
}*/
/*new header*/
/* --header section --*/

.header {
    background-color: rgb(230,226,217);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /*  it stays on top of other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
    }
    
    .header__container {
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
    
    .header__logo-link {
     display: inline-block;
    }
    
    .header__logo-img {
     width: 60%;
     margin-right: 5%;
    }
    
    .header__nav {
    flex-grow: 1;
    margin-right: 40px;
    }
    
    .header__nav-list {
     display: flex;
     justify-content: center;
     gap: 50px;
     list-style: none;
    }
    
    .header__nav-link {
     color:var(--red-color);
     text-decoration: none;
     font-size: 16px;
    }
    
    .header__icons {
     display: flex;
     gap: 15px;
    }
    
    .header__icon img {
     width: 24px;
     height: 24px;
    }
    
    .header__account {
     margin-right: 15px;
    }
    
    .header__account-button {
     background-color: var(--green-color);
     color: white;
     padding: 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 5px;
    }
    
    .header__account-button:hover {
     background-color:var(--green-hover-color);
    }