body {
    font-family: Yekan Bakh FaNum;
}

.body__about h1 {
    font-size: 30px;
}
.body__about img {
    width: 100%;
    height: 100%;
}
.body__about--pic-paragraph {
    display: flex;
    font-size: 20px;
    text-align: justify;
    gap: 10%;
}
